body {
    font-family: 'Arial', sans-serif;
    padding-top: 80px; /* Espaçamento para a navbar */
}

header {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.logo-img {
    height: 80px; 
    transition: transform 0.3s, filter 0.3s;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}

.navbar-brand:hover .logo-img {
    transform: scale(1.05);
}

.section-title {
    color: #a83a32;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.card {
    border-radius: 10px;
}

.social-icon {
    color: white;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #a83a32; /* Mudança de cor ao passar o mouse */
}
#logo_pricipal{
    margin-top: -25px;
}

    /* Estilo adicional para os inputs e textarea */
    .form-control:focus {
        border-color: #a83a32; /* Cor da borda ao focar */
        box-shadow: 0 0 5px rgba(168, 58, 50, 0.5); /* Sombra ao focar */
    }

    /* Efeito de hover para o botão */
    .btn-danger:hover {
        background-color: #a83a32; /* Muda a cor ao passar o mouse */
        transform: scale(1.05); /* Aumenta o tamanho levemente */
    }